release/win-unpacked/resources/app.asar filter=lfs diff=lfs merge=lfs -text
release/win-unpacked/万能格式转换器.exe filter=lfs diff=lfs merge=lfs -text
release/万能格式转换器[[:space:]]Setup[[:space:]]0.1.9.exe filter=lfs diff=lfs merge=lfs -text
